projects/*.suo
*.user
*.sdf
ipch
*.opensdf
*/output
*upgrade*
projects/*.txt
projects/temp
projects/*.pdf
*.o
*.pyo
*.a
autom4te.*
*.log
pdf_to_png
pdf_to_ppm
pdf_to_text
deps
deps_*
src/xpdf/*/Makefile
src/xpdf/Makefile
Makefile.rules
Makefile.flags
config.status
configure
src/xpdf/xpdf-aconf.h
*.ppm
*.json
*.bak
*.suo
_cc_tests
*.idea*
*.pyc
_tests/generic/tests/performance
__*bat
!__init__.py
__init__.pyc
projects
build
build-nix
bin
bin-nix
cmake-*

CMakeFiles/
CMakeCache.txt
__report-*
__process
